.updateModalContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.4);
}

.updateModalForm {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}

.closeBtn {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 1.6rem;
  color: red;
  opacity: 0.6;
}

.closeBtn:hover {
  cursor: pointer;
  opacity: 1;
}

.updateModalText {
  padding: 10px;
  font-size: 1.1rem;
}

.updateInputField {
  margin-bottom: 20px;
}

.updateInputField > input {
  width: 250px;
  padding: 3px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
}

.submitBtn {
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  color: white;
  background-color: #75a3fe;
  font-size: 1.1rem;
  border-radius: 10px;
  padding: 5px;
  opacity: 0.8;
}

.submitBtn:hover {
  cursor: pointer;
  opacity: 1;
}
