.introContainer {
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}

.cover {
  width: 100%;
  height: 85.6vh;
  opacity: 0.8;
}

.introImg {
  width: 100%;
  height: 100%;
}

.introModal {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  animation: drop 2s ease-in-out;
  z-index: 1;
  font-size: 1.2rem;
}

.modalText {
  margin-bottom: 10px;
}

.startBtn {
  text-decoration: none;
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  background-color: #75a3fe;
  color: white;
  opacity: 0.6;
}

.startBtn:hover {
  opacity: 1;
}

@keyframes drop {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
