.confirmModalContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}

.confirmModalCover {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.confirmText {
  padding: 10px 0px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.ask {
  font-weight: bold;
  font-size: 1.2rem;
}

.confirmBtn {
  border: none;
  outline: none;
  color: white;
  background-color: #75a3fe;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 5px;
  margin: 0 3px;
  opacity: 0.8;
}

.confirmBtn:hover {
  cursor: pointer;
  opacity: 1;
}
